<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../assets/style.css" />
  </head>
  <body>
    <div id="login-form" class="login-form">
      <h1 class="form__title">Welcome</h1>

      <div class="group__button">
        <a class="link" href="views/login.html">Login</a>
        <a class="link" href="views/register.html">Registration</a>
      </div>
    </div>

  </body>
</html>
