<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../assets/style.css" />
  </head>
  <body>
    <div id="home" class="login-form">
      <h1 class="form__title home__title">Hello</h1>
      <br />
      <h2 id="name"></h2>

      <div class="logout">
        <a class="link" href="logout.php">Logout</a>
      </div>
    </div>

    <script src="../assets/script.js"></script>
  </body>
</html>
